name: cinelog-local

services:
  mongo:
    image: mongo:8
    container_name: cinelog_mongo_local
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cinelog_api_local
    ports:
      - "5009:5009"
    env_file:
      - .env
    volumes:
      - .:/app
      - api_venv:/app/.venv
    environment:
      - MONGODB_HOST=mongo
      - MONGODB_PORT=27017
      - MONGODB_DB=cinelog_db
      - SMTP_SERVER=mailpit
      - SMTP_PORT=1025
    command: uv run uvicorn app:app --host 0.0.0.0 --port 5009 --reload --reload-dir app
    depends_on:
      - mongo
      - mailpit

  mailpit:
    image: axllent/mailpit
    container_name: cinelog_mailpit_local
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI


volumes:
  mongo_data:
  api_venv:
