name: cinelog-e2e

services:
  mongo_e2e:
    image: mongo:8
    container_name: cinelog_mongo_e2e
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=cinelog_e2e_db
    tmpfs:
      - /data/db


