name: Unit Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          
      - name: Install Dependencies
        run: |
          uv sync --frozen --group dev
          
      - name: Run Unit Tests
        run: |
          uv run pytest tests/units --cov=app --cov-fail-under=80
